{% extends "layout/loginBaseLayout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{sname}} |Password reset confirm{% endblock %}




{% block content %}


<div class="login-box">
  
 
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Change password</p>

      {% if validlink %}
     
      <form method="post">
        {% csrf_token %}
        {{ form.new_password1|as_crispy_field }}
        {{ form.new_password2|as_crispy_field }}
        <div class="row mb">
          <div class="col-sm-12" style="text-align: end;">
            <button type="submit" class="btn btn-primary">Change Password</button>
         </div></div>
      </form>
    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}

     

     
      
    </div>
    <!-- /.login-card-body -->
  </div>
  <br><br><br>
</div>
<!-- /.login-box -->


{% endblock %}