{% extends "layout/loginBaseLayout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{sname}} | Reset Password Completed {% endblock %}


{% block content %}


<div class="login-box">
  
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

     
      <p>
        Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
      </p>

     

     
      
    </div>
    <!-- /.login-card-body -->
  </div>
  <br><br><br>
</div>
<!-- /.login-box -->


{% endblock %}