{% extends "layout/loginBaseLayout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{sname}} | Login {% endblock %}


{% block content %}


<div class="login-box" style="position:absolute;">
 
  
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Forgot password ? Enter Your registered Email</p>
      <div>
        {% if messages %}          
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
        {% endif %} </div>
     
  <form method="post">
    {% csrf_token %}
    {{ password_reset_form|crispy}}
    <div class="row mb">
      <div class="col-sm-12" style="text-align: end;">
        <button type="submit" class="btn btn-primary">Submit</button>
     </div></div>
  </form>

     

     
      
    </div>
    <!-- /.login-card-body -->
  </div>
  <br><br><br>
</div>
<!-- /.login-box -->


{% endblock %}