{% extends 'layout/adminBaseLayout.html' %}
{% load static %}
{% block title %}{{sname}} | Product{% endblock %}
{% block content %}
<!-- <html>
<head>
	<title>Select product to change </title>

	<meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<!-- Add icon library -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="MyStyle.css">
</head>

<body> -->
	<div class="container"><br><br>
		<h3  class=category> Product </h3>
	</div>

		<div class="container"><br><br><br><hr>
			<div class="table-responsive">
			  <table width="100%">
				<thead>
				  <tr>
					<th>Product Image<hr></th>
					<th>Product Name<hr></th>
					<th>Price<hr></th>
					<th>Category<hr></th>
				  </tr>
				</thead>
				{% for p in productp %}
				<tr>
					<td> <img src="{{ p.image.url }}" alt="Profile Pic" height="40px" width="40px" /></td>
				  	<td> {{p.name}}</td>
				  	<td>{{p.price}}</td>
				  	<td>{{p.category}}</td>
				</tr>
				{% endfor %}
			  </table>
			  </div><br><hr>
	  
		<h4>Total Product : {{productcount}}</h4><hr>
	</div>
<!-- </body>
</html> -->
{% endblock %}