{% extends 'layout/userBaseLayout.html' %}
{% load static %}
{% block title %}{{sname}} | About Us{% endblock %}
{% block content %}
<!-- <!doctype html>
<html lang="en">

<head>
    <title>Profile Cards</title> -->
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="card.css">

   
</head>

<body> -->
<br><br><br><br>
    
<div class="container">
    
            <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol> -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../media/img/Profile photo.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Yogesh<br> Maindargi</h2>
                                            <p>Full Stack Developer
                                            </p>
                                            <a href="mailto:yogeshmaindargi2080ym@gmail.com" style="text-decoration: none;color: burlywood;margin-left: -6px;">yogeshmaindargi2080ym@gmail.com</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../media/img/gajjo.jpeg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Gazala<br> Shaikh</h2>
                                            <p>System Analytics
                                            </p>
                                            <a href="mailto:gazala2705@gmail.com" style="text-decoration: none;color: burlywood;margin-left: -6px;">gazala2705@gmail.com</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../media/img/yogi.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Yogesh<br> Kokal</h2>
                                            <p>Software Testing
                                            </p>
                                            <a href="mailto:kokalyogesh45@gmail.com" style="text-decoration: none;color: burlywood;margin-left: -6px;">kokalyogesh45@gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../media/img/ruchita.jpeg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Ruchita <br> Bhandari</h2>
                                            <p>Database Analytics
                                            </p>
                                            <a href="mailto:bhandariruchita987@gmail.com" style="text-decoration: none;color: burlywood;margin-left: -6px;">bhandariruchita987@gmail.com</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="../../media/img/5.jpeg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Aishwarya <br> Tambake</h2>
                                            <p>Django Developer</p>
                                            <a href="mailto:aishwaryatambake191@gmail.com" style="text-decoration: none;color: burlywood;margin-left: -6px;">aishwaryatambake191@gmail.com</a>
                                        </div>
                                    </div>
                                </div>                          
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
 </div>
 <br><br><br><br>

<!-- 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>

</html> -->
{% endblock %}