body{
    background: linear-gradient(rgb(80, 83, 231),pink);
    height: 70vh;
    font-family: popins;
}

.container{
    margin-top: 15%;

}

 .heading  {
    text-align: center;
    font-size: 60px;
    color: white;
   
  }

.img-text{
    margin-top: 170px;
    width: 100%;
    height: 400px;
    display: block;
    text-align: center;
    transform: translateY(90px);
    opacity: 1;
    padding: 40% 5%;
    color: black;
    border-radius: 15px;
    transition: 0.5%;
}

.single-box:hover .img-text{
    transform: translateY(0px);
    opacity: 1;
}

.img-text h2{
    font-size: 30px;
    text-shadow: 0 0 .1em cyan;
    /* background-color: black; */
    /* font-size:50px; */
    /* text-shadow: 3px 3px 3px violet; */
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img-text p{

    font-size: 18px;
}


.single-box{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgb(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5) ;
    border-left: 1px solid rgba(255,255,255,0.5) ;
    backdrop-filter:  blur(5px);
}



.img-area{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 5px solid turquoise;
    overflow: hidden;
    top: 30px;
    left: 45px;
    border-radius: 50%;
}

.img-area img{
    width: 100%;
}

.carousel-indicators{
    left: 0;
    top: auto;
    bottom: 0px;

}

.carousel-indicators li{
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active{
    background: red;
}



